
Thumbs.db
*.ARM
*.B2G
*.o
*.obj
*.exe
*.dll
*.lib
*.pdb
*.user
*.aps
*.pch
*.ipch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.ncb
*.old
*.htm
*.aps
*.idb
*.pdb
*.zip
*.gif
*.css
*.xslt
*.1
*.chm
*.doc
*.rar
*.pdf
*.rtf
*.jar
*.jpg
*.7z
*.psd
*.hlp
*.gbr
*.xls
*.csv
*.txt
*.dxf
*.scc
*.mac
*.sys
*.xml
*.res
*.tlog
*.lastbuildstate
*.hex
*.TMP
*.sample
*.zzz
*.msi
*.orig
*.sln
*.svn*
*.sdf
*.db
*.l0?
*.nsmap
*.manifest


A9M2410/
Backup/
Bin2h/
cc2538_per_test_1_1_0/
CeDll/
CenectaServidor/
CeTest/
crc/
crlf/
Delphi/
DelphiXE2/
Documentation/
ECC/
EZCarrefour/
EZClientCpp/
EZClientCSharp/
EZDemoPos2005/
EZDemoPosOCX/
EZHO/
EZHOWS/
EZHOWSC/
EZMOD/
Mexico/
OVJLIB/
PCBS/
Protocols/
TankDrop/
Examples/
EZSoap/
Drivers/Download
EZInstall/
Vision/



[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
